<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PartyRock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D016E93C1EB969CA00D1186E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D016E9501EB969CA00D1186E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D016E95B1EB969CA00D1186E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
